***Чувашов Владислав Максимович

***Т120-101М-20

***Лабораторная работа по Pandas № 1

1 Импортировать модули sys numpy pandas

In [1]:
import sys
import numpy as np
import pandas as pd

2 Создать объект pandas Series из листа, объекта NumPy, и словаря

In [59]:
my_series = pd.Series([2, 3, 5, 7, 11, 13,])
my_series

0     2
1     3
2     5
3     7
4    11
5    13
6    17
dtype: int64

In [94]:
my_series =pd.Series (np.array([2, 3, 5, 7, 11, 13, 17]))
my_series

0     2
1     3
2     5
3     7
4    11
5    13
6    17
dtype: int64

In [61]:
pd.Series({'a':'2a', 'b':'3b', 'c':'5c', 'd':'7d' })

a    2a
b    3b
c    5c
d    7d
dtype: object

3 Преобразовать объект Series в DataFrame

In [62]:
my_series2 = pd.Series({'a':'2a', 'b':'3b', 'c':'5c', 'd':'7d' })
my_series2.to_frame()

    0
a  2a
b  3b
c  5c
d  7d

4 Cоздать объект Series

In [63]:
my_series3 = pd.Series(np.arange(5))

5 Преобразовать в DataFrame

In [81]:
my_series3.to_frame()

   0
0  0
1  1
2  2
3  3
4  4

6 Объединить несколько объектов Series в Dataframe

In [65]:
s1 = pd.Series([1, 2, 3], index=['A', 'B','C'], name='s1') 
s2 = pd.Series([4, 5, 6], index=['A', 'B','C'], name='s2')
pd.concat([s1, s2], axis=1)

   s1  s2
A   1   4
B   2   5
C   3   6

7 Присвоить имя индексу объекта Series

In [66]:
my_series.index.name = 'prostye chisla'
my_series

prostye chisla
0     2
1     3
2     5
3     7
4    11
5    13
6    17
dtype: int64

8 Получить элементы объекта Series A, которых нет в объекте Series B

In [88]:
X=pd.Series(np.arange(10))
Y=pd.Series(np.arange(5))

9  Возвратить вместе с индексами

In [91]:
Z = X[~X.isin(Y)]
Z

5    5
6    6
7    7
8    8
9    9
dtype: int64

10 Возвратить значения

In [93]:
Z.values

array([5, 6, 7, 8, 9])

11 Получить не пересекающиеся элементы в двух объектах Series

In [95]:
X = pd.Series([1, 2, 3, 4, 5, 6])
Y = pd.Series([4, 5, 6, 7, 8, 9])

12 Возвратить вместе с индексами

In [96]:
pd.concat ([X[~X.isin(Y)],Y[~Y.isin(X)]])

0    1
1    2
2    3
3    7
4    8
5    9
dtype: int64

13 Получить объединенный Series без повторений

In [105]:
A = pd.Series(np.union1d(X,Y))
A

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

14 Получить пересекающиеся данные

In [108]:
B=pd.Series(np.intersect1d(X,Y))
B

0    4
1    5
2    6
dtype: int64

15 Отобрать все данные, кроме пересекающихся

In [109]:
Z=A[~A.isin(B)]
Z

0    1
1    2
2    3
6    7
7    8
8    9
dtype: int64

16 Возвратить значения

In [110]:
Z.values

array([1, 2, 3, 7, 8, 9])